<div class="column">
	<nav class="panel">
		<p class="panel-heading">Account Information</p>
 
		<% if user_signed_in? %>

	      <div class="panel-block">
	      	<article class="media">
	      		<div class="media-content">
	      			<div class="content">
	      				<p><%= current_user.name %></p>
	      				<p>Balance: <%= current_user.balance %></p>
	      				<p>Account number: 000<%= current_user.id %> </p>
	      			</div>
	      		</div>
	      	</article>
	      </div>

		<% end %>
	</nav>


</div>