<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Links</p>
		                <%= link_to 'New Transaction', new_transaction_path, class: "button is-info" %>
	</nav>
</div>