<div class="column is-one-quarter">
  <nav class="panel">
    <u> <%= link_to 'New Transaction', new_transaction_path, class: "a" %>  </u>
    <br/>
    <u> <%= link_to 'Balance History', :controller => 'transactions', :action=>'balance' %>  </u>
  </nav>
</div>