<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'actions' %>
      <%= render 'transactions' %>
      <%= render 'accountInfo' %>
    </div>
  </div>
</section>

